
body {
  background-color: #007bff; /* Set the desired background color */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-radius: 30px;
  position: relative;
  margin:0 auto;
  width: 450px;
  padding: 40px 50px;
  background-color: #008CBA;
  /* margin-top:40px; */
  display: table;
  max-height: 50vh;
}

h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
}

#quote {
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#text {
  font-size: 24px;
  font-weight: bold;
}

#author {
  margin-top: 10px;
  font-size: 16px;
  float: right;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #008CBA;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: yellowgreen;
}
#tweet-quote{
  float:right;
  background-color:blue;
  font-size: 19px bold;
  text-decoration: none;
  width: 115px;
  text-align: center;

}
